
// *{
//     /* box-shadow:rgb(0,0,0,0.7) 1px 10px 50px ,rgb(0,0,0,0.7) -5px 0px 250px; */
//     border-radius:0.5em;
// }

.FormControl{
    color:white;
    
}


#main{
    width:50%;
    margin:auto;
}

